<!DOCTYPE html>
<html>
<head>
<title>TrainEnquiry++</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<table class="table table-bordered">
	<tr>
		<td>Train No.</td>
		<td>Source</td>
		<td>Source arrival time</td>
		<td>Source departure time</td>
		<td>Destination</td>
		<td>Destination arrival time</td>
		<td>Destination departure time</td>
		<td>Category</td>
		<td>Availability</td>
		<td>Fare</td>
	</tr>
</table>
</div>

<script type="text/javascript">
	<% ans.forEach(function(temp) { %>
		<% var each = temp['first']; %>
		<% var each2 = temp['second'] %>
		$('.container').append('<table class="table table-bordered"><tr><td><%= each.trainno %></td><td><%= each.src %></td><td><%= each.srcatime %></td><td><%= each.srcdtime %></td><td><%= each.dest %></td><td><%= each.destatime %></td><td><%= each.destdtime %></td><td><%= each.category %></td><td><%= each.availability %></td><td><%= each.fare %></td></tr><tr><td><%= each2.trainno %></td><td><%= each2.src %></td><td><%= each2.srcatime %></td><td><%= each2.srcdtime %></td><td><%= each2.dest %></td><td><%= each2.destatime %></td><td><%= each2.destdtime %></td><td><%= each2.category %></td><td><%= each2.availability %></td><td><%= each2.fare %></td></tr></table>');

		$('.container').append('');
    <% }); %>
</script>

</body>
</html>